body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;;
	padding: 20;
    margin: 0;
    background-color: #e2debf;
}

.container {
    display: flex;
    justify-content: center;
}

 .textalign {
margin-top: 10%;
}
.textalign p{
    text-align: center;
	font-size: 30px;
	color: white;
}

.textalign h1{
    text-align: center;
    margin-top: 20px;
	font-size: 40px;
	color: white;
}

img{
    width: max-content;
    margin-left: 200px;
    padding: 100px;
}

div {
	display: block;
}

ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
    background-color: #35424a;	
    color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:#a8491d 3px solid;	
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 25px 0 25px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a: hover{
	color: #cccccc;
	font-weight:bold;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 100px;
}

header{
    background-color: #35424a;	
    color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:#a8491d 3px solid;	
}

.admin-wrapper {
    display: flex;
    height: calc(100%-66px);
}

.admin-wrapper .left-sidebar {
    flex: 2;
    height: 100%;
    background: #94d4d8;
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

.admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid black;
}

.admin-wrapper .left-sidebar ul li a:hover {
    background: chartreuse;
}

.admin-wrapper .admin-content {
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.admin-content .page-title {
    text-align: cente;
    margin-bottom: 2rem;
}

table {
    width: 400px;
    border-collapse: collapse;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid orange;
}

.update {
    color: green;
}
.delete {
    color: red;
}
.publish {
    color: blue;
}

.update:hover,
.delete:hover,
.publish:hover {
    text-decoration: underline;
}

form div {
    margin-bottom: 15px;
}