body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;;
	padding: 20;
    margin: 0;
    background-color: #615959;
}

.container {
    display: flex;
    justify-content: center;
}

 .textalign {
margin-top: 10%;
}
.textalign p{
    text-align: center;
	font-size: 30px;
	color: white;
}

.textalign h1{
    text-align: center;
    margin-top: 20px;
	font-size: 40px;
	color: white;
}

img{
    width: max-content;
    margin-left: 200px;
    padding: 100px;
}

div {
	display: block;
}

ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
    background-color: #35424a;	
    color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:#a8491d 3px solid;	
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 25px 0 25px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a: hover{
	color: #cccccc;
	font-weight:bold;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 100px;
}



body{
	background: #a3c5a8;
}
.box-area{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.single-box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: auto;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	margin: 20px;
	padding: 20px;
	transition: .3s;
}
.img-area{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border: 6px solid #ddd;
	border-radius: 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;

}
.single-box:nth-child(1) .img-area{
	background-image: url(../img/service.jpeg);
}
.single-box:nth-child(2) .img-area{
	background-image: url(../img/service.jpeg);
}
.single-box:nth-child(3) .img-area{
	background-image: url(../img/service.jpeg);
}
.header-text{
	font-size: 24px;
	font-weight: 500;
	line-weight: 48px;
}
.img-text{
	font-family: poppins;
	padding-top: 20px;
}
.img-text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
}
.single-box: hover{
	background: #e84393;
	color: #fff;
}